

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

:before,
:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #7A8699;
    font-weight: 400;
}

/* Lists==================== */
ol,
ul {
    list-style: none;
}

/* Links, inputs and Buttons==================== */
a {
    color: inherit;
    display: inline-flex;
    align-items: center;
}

a,
.btn,
.button,
button,
input[type="button"],
input[type="button"],
input[type="submit"],
input[type="submit"],
select {
    outline: none;
    -webkit-transition: all cubic-bezier(1, -0.05, 0.25, 1) 0.4s;
    -o-transition: all cubic-bezier(1, -0.05, 0.25, 1) 0.4s;
    transition: all cubic-bezier(1, -0.05, 0.25, 1) 0.4s;
    cursor: pointer;
}

input,
textarea,
select {
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
    -webkit-appearance: none;
}

input::-ms-clear,
input:-ms-clear {
    display: none;
}

textarea {
    resize: none;
}

:disabled,
::disabled {
    cursor: not-allowed;
}

:readonly,
::readonly {
    cursor: default;
}

::-webkit-input-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

::-moz-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

:-ms-input-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

::-ms-input-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

::placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

/* Tables==================== */
.table,
table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    vertical-align: middle;
}

/* Headings==================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

br,
.clear {
    clear: both;
}

.d-flex {
  display: flex;
}

.dashboardBody {
  height: 100%;
  overflow: hidden;
  background :#F7F8FA;
}

.leftSidebar {
  height: 100vh;
  padding-bottom: 25px;
  border-right: 1px solid #d3dae3;
}

.sidebarHeader {
  padding: 30px 28px;
  border-bottom: 1px solid #d3dae3;
  display: flex;
  align-items: center;
  height: 87px;
}

.sidebarHeader h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2633;
}

.dashboardCollapse {
  margin-left: 112px;
  cursor: pointer;
}

.sidebarContentWraper {
  padding: 32px;
  height: calc(100vh - 87px);
  overflow-y: auto;
}
.userInfo {
  align-items: center;
  border-bottom: 1px solid #d3dae3;
  padding-bottom: 32px;
}
.userinfoImg {
  margin-right: 22px;
  position: relative;
}
.userInfoControls {
  margin-left: auto;
  cursor: pointer;
}

.userinfoDetails h5 {
  color: #1F2633;
  font-size: 12px;
  font-weight: 700;
}

.userinfoDetails p {
  font-size: 11px;
  font-weight: 700;
  margin-top: 3px;
}

.activated .activetedImg {
  display: block;
}
.activetedImg {
  position: absolute;
  left: -4px;
  top: -4px;
}
.sidebarMenuListings {
  padding: 32px 0;
}
.sidebarHeading {
  display: flex;
  align-items: center;
}
.actionButton {
  margin-left: auto;
  cursor: pointer;
}
.sidebarHeading h4 {
color: #98A2B3;
font-size:12px;
font-weight:700;
}
.sidebarlistingWraper {
  padding: 32px 0;
  border-bottom: 1px solid #d3dae3;
}

.sidelistings.productsListings li {
  margin-bottom: 19px;
}
.sidelistings.productsListings li:last-child {
  margin-bottom: 0px;
}

.sidelistings li {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidelistings li:last-child {
  margin-bottom: 0;
}
.listingIcons {
  margin-right: 19px;
}
.sidelistings li h6 {
  color: #1F2633;
  font-size: 12px;
  font-weight: 600;
}
.notificationsInfo {
  margin-left: auto;
  font-size: 10px;
  color: #2563EB;
  background: rgba(59, 130, 246, 0.1);
  border-radius: 16px;
  padding: 5px 8.5px;
}
.noNotification {
  display: none;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #F7F8FA;
}

::-webkit-scrollbar-thumb {
  background-color: #2563EB;
}











.contentRight {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% - 293px);
  max-width: calc(100% - 293px);
  height: 100%;
  position: relative;
}
.rightSideHeader {
    height: 87px;
    border-bottom: 1px solid #d3dae3;
    width: 100%;
    padding: 20px 36px;
    display: flex;
    align-items: center;
}
.searchBtn {
  border: none;
  background: none;
  outline: none;
}
.searchWraper {
  background: #FFFFFF;
  border: 1px solid #EBEEF2;
  box-shadow: 0px 1px 3px rgb(96 108 128 / 5%);
  border-radius: 8px;
  /* padding: 11px 15px; */
  display: flex;
  align-items: center;
  position: relative;
}

.searchWraper .searchicon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.searchWraper .searchBtn { 
  height: 40px;
  padding-right: 12px;
}
.searchWraper .searchBtn:hover {
  opacity: 0.55;
}
.searchicon {
  margin-right: 14px;
  position: relative;
}
input.searchInputr {
  border: none;
  padding: 3px 0;
  width: 155px;
  margin-right: 14px;
  font-size: 14px;
  color: #7A8699;

  padding: 8px 15px 8px 35px;
  height: 40px;
}

.searchBarWraper .searchicon .searchIconImg {
  position: absolute;
  top: 11px;
  left: 10px;
}

.searchBarWraper .searchicon .searchInputr {
  width: 170px;
  margin-right: 0;
  padding-right: 10px;
}

.audioInput {
  margin-left: 37px;
  cursor: pointer;
}

.audioInput:hover {
  opacity: 0.50;
}

.navbarMenu {
  margin-left: 128px;
}

.navUl li {
  display: inline-block;
  margin-right: 32px;
}

.navUl li:last-child {
  margin-right: 0;
}

.navUl li a {
  font-size: 12px;
  font-weight: 700;
  color: #7A8699;
}

.navUl li a.currentPage {
  color: #323C4D;
}
.navUl li a:hover {
  color: #323C4D;
}

.headerRightInfos {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.fileSec, .bellSec {
  margin-right: 22px;
  cursor: pointer;
}
.headerUserInfoWraper {
  position: relative;
}
img.pogressInfo {
  position: absolute;
  top: -4px;
  left: -4px;
}

.notiInfos {
  background: #EF4444;
  box-shadow: 0px 1px 3px rgb(239 68 68 / 20%);
  border-radius: 12px;
  padding: 2px 6px;
  color: #fff;
  font-size: 10px;
  font-weight: 900;
  position: absolute;
  left: 30px;
  top: 0px;
}
.onlineStatus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 1px 3px rgb(96 108 128 / 5%);
  border-radius: 100px;
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 3px;
  left: 30px;
}
.offline {
  background: #EF4444;
}
.online {
  background: #22C55E;
}

.rightsecOpen {
  padding-right: 88px;
}
.rightSec {
  width: 88px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  border-left: 1px solid #d3dae3;
}
.rightSecHeader {
  height: 87px;
  border-bottom: 1px solid #d3dae3;
  background: #F7F8FA;
}
.closeRightSec {
  cursor: pointer;
  padding: 32px;
  display: block;
}
/* .rightSecWraper {
  position: relative;
  height: 100%;
  width: 100%;
} */
.rightSecFooter {
  position: absolute;
  width: 88px;
  bottom: 0;
  left: 0;
  height: 88px;
  border-top: 1px solid #d3dae3;
  background-color: #F7F8FA;
}
.rightFooterBtn {
  border: none;
  background:none;
  outline: none;
  cursor: pointer;
  padding: 36px;
}
.rightSecMidSection {
  height: calc(100vh - 88px);
  padding-bottom: 125px;
  padding-top: 105px;
  overflow-y: auto;
}

.userLists li {
  margin-bottom: 20px;
}

.userLists li:last-child {
  margin-bottom: 0px;
}

.userLists li .headerUserInfoWraper {
  display: block;
  height: 35px;
  width: 38px;
  margin: 0 auto;
  cursor: pointer;
}

.userLists li .headerUserInfoWraper .pogressInfo {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 38px;
  height: 38px;
}

.userLists li .headerUserInfoWraper .notiInfos {
  left: unset;
    top: 0px;
    right: -5px;
}
.userLists li .headerUserInfoWraper .onlineStatus {
  bottom: 0px;
  left: unset;
  right: 0px;
}

.noProileImage {
  padding: 12px;
  
  font-size: 11px;
  font-weight: 800;
  border-radius: 100%;
  line-height: 38px;
}

.red {
  background: #FEF2F2;
  color: #DB2777;
}

.blue {
  background: #DBEAFE;
  color: #2563EB;
}

.userImgs {
  width: 32px;
  height: 32px;
}

.rightSideWraper {
  position: relative;
  padding: 36px;
  height: calc(100vh - 87px);
    overflow-y: auto;
}
.subHeadingsWraper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.editableHeading {
  display: flex;
  align-items: center;
}

.editableHeading h3 {
  color: #1F2633;
  font-size: 30px;
  font-weight: 700;
  margin-right: 27px;
}

.editable {
  cursor: pointer;
}

.subMenuWraper {
  margin-left: 150px;
}

.subMenu li {
  display: inline-block;
  margin-right: 24px;
  border-bottom: 1px solid #F7F8FA;
}

.subMenu li:last-child {
  margin-right: 0;
}

.subMenu li a {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 8px;
}


.subMenu li a:hover {
  color: #3B82F6;
}

.subMenu li.current {
  border-bottom: 1px solid #3B82F6;
}

.subMenu li.current a {
color: #3B82F6;

}
.subMenu li:hover {
  border-bottom: 1px solid #3B82F6;
}

.assignedUsersWraper {
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 225px;
}

.assignedUsersWraper img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 38px;
}

.assignedUsersWraper .addUserBtn img {
  border:none;
  width: 20px;
}
 
.assignedUsersWraper span:first-child {
  position: absolute;
  top: 0;
  left: 28px;
}
.assignedUsersWraper span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50px;
}
.assignedUsersWraper span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 78px;
}
.assignedUsersWraper span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 108px;
}
.assignedUsersWraper span:nth-child(5) {
  position: absolute;
  top: 0;
  left: 108Px;
}

.moreUsersCount {
  background: #F2F4F7;
  border-radius: 24px;
  width: 38px;
  height: 38px;
  padding: 11px 9px;
  color: #606C80;
  font-weight: 700;
  font-size: 12px;
}

.moreUsersCount:hover {
  color: #F2F4F7;
  background: #606C80;
}

.addUserBtn {
  margin-left: auto;
  padding: 7px 8px;
  background: #FFFFFF;
  border: 2px dashed #EBEEF2;
  border-radius: 48px;
}

.addUserBtn:hover {
  border: 2px dashed #acb4bf;
}

.addUserBtn button {
  height: 20px;
  border: none;
  background: none;
}
.addUserBtn button img {
  vertical-align: middle;
}
.boardView {
  border: 1px solid #EBEEF2;
  border-radius: 5px 0 0 5px;
  padding:11px 19px;
  color: #606C80;
  font-weight: 700;
  background: #FAFBFC;
  cursor: pointer;
}
.listView {
  border: 1px solid #EBEEF2;
  border-left: none;
  border-radius: 0 5px 5px 0;
  padding:11px 19px;
  color: #606C80;
  font-weight: 700;
  cursor: pointer;
}

.listView:hover {
  background: #FAFBFC;
}

.boardView:hover {
  background: #F7F8FA;
}

.boardView img, .listView img {
  vertical-align: sub;
  margin-right: 11px;
}

.viewBtnWraper {
  padding-right: 16px;
  border-right: 1px solid #EBEEF2;
  width: auto;
  display: inline-flex;
  margin-right: 16px;
}

.accessBtnWraper {
  padding-right: 16px;
  border-right: 1px solid #EBEEF2;
  width: auto;
  display: inline-flex;
  margin-right: 16px;
}
.accessBtnWraper button {
  display: flex;
  align-items: center;
  border:none;
  background: none;
  font-size: 11px;
  font-weight: 700;
  color: #98A2B3;
  height: 42px;
}

.lockimg {
  margin-right: 12px;
}

.dropImg {
  margin-left: 14px;
  margin-right: 5px;
}
.socialMediaWraper {
  padding-right: 32px;
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.dashboardControlsWraper {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}
.userRole {
  color: #98A2B3;
  font-size: 11px;
  font-weight: 700;
  margin-right: 12px;
}

.socialMediaLink a {
  FONT-WEIGHT: 700;
  color: #606C80;
  font-size: 11px;
  text-decoration: none;
}

.socialMediaLink a img {
  margin-right: 12px;
  width: 28px;
  height: 28px;
}

.searchBarWraper {
  background: #FFFFFF;
  border: 1px solid #EBEEF2;
  box-shadow: 0px 1px 3px rgb(96 108 128 / 5%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-right: 49px;
}
.searchBarWraper .searchicon img {
  vertical-align: middle ;
  margin-right: 12px;
}

.searchBarWraper .searchicon {
  margin-right: 0;
}

.searchInputr {
 font-size: 12px;
 font-weight: 700;
}


.actionBtnWrapers {
  margin-left: auto;
}

.actionBtnWrapers ul {
  display: flex;
  align-items: center;
}
.actionBtnWrapers ul li {
  width: 40px;
  height: 40px;
  padding: 10px 12px;
  text-align: center;
  background: #FFFFFF;
border: 1px solid #EBEEF2;
box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
border-radius: 8px;
margin-right: 8px;
cursor: pointer;
display: flex;
align-items: center;
}

.actionBtnWrapers ul li:last-child {
  margin-right: 0;
}

.actionBtnWrapers ul li:hover {
  background: #f3f5f9;
}

.boxWrapers {
  grid-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    display: flex;
    justify-content: center;
    position: relative;
}

.individualBox {
  flex: 1 1 25%; 
}
.boxHeadingWraper {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
.actionBox {
  margin-left: auto;
}

.actionBox a {
  padding:10px 0;
}

.actionBox a:hover {
  opacity: 0.85;;
}

.boxHeadingWraper h4 {
  color: #1F2633;
  font-size:14px;
  font-weight:600;
}
.boxNumbers {
  margin-left: 12px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 800;
  border-radius: 16px;
}

.yellow {
  background: rgba(234, 179, 8, 0.1);
  color: #CA8A04;
}
.purple {
  color: #9333EA;
  background: rgba(168, 85, 247, 0.1);
}
.green {
  background: rgba(34, 197, 94, 0.1);
  color: #16A34A;
}

.indBoxContent {
  background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
border-radius: 8px;
padding: 20px;
width: 100%;
margin-bottom: 16px;
}
.boxInfoHeading {
  width: 65%;
}
.boxInfodetails {
  width: 15%;
  display: flex;
  align-items: center;
  text-align: right;
  font-weight: 800;
  font-size: 10px;
  margin-left: auto;
}
.boxInfodetails span {
  margin-left: auto;
}
.activeInfos {
  color: #17A5E6;
}
.activeInfos.normal {
  color: #98A2B3;
}
.boxInfoHeading h5 {
color: #1F2633;
font-size:12px;
font-weight: 600;
}
.indBoxInfos {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.tagsWraper {
  width: 100%;
  display: block;
  margin-bottom: 16px;
}
.tagsUl li {
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 16px;
  font-weight: 800;
  font-size: 8px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
}

.tagsUl li:last-child {
  margin-right: 0;
}

.tagsUl li.white {
  background: #FFFFFF;
  border: 1px solid #EBEEF2;
  color: #606C80;
}

.lastBoxRow {
  display: flex;
  align-items: center;
}
.boxUserWraper {
  position: relative;
  width:52%;
  display: flex;
  align-items: center;
}
.boxUserWraper span:first-child {
  left: 0;
  position: absolute;
  top: 0;
}
.boxUserWraper  span:nth-child(2) {
  left: 28px;
  position: absolute;
  top: 0;
}
.boxUserWraper  span:nth-child(3) {
  left: 50px;
  position: absolute;
  top: 0;
}
.boxUserWraper {
  margin-right: 30px;
}
.attachmentMessageWraper {
  margin-left: auto;
}
.attachmentMessageWraper {
  display: flex;
  align-items: center;
}
.attachment_file {
  margin-right: 10px;
}
.attachment_file img, .attachment_message img {
  margin-right: 12px;
}
.attachment_file, .attachment_message {
  color: #98A2B3;
  font-size: 10px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.attachment_file.activated {
  color: #9333EA;
}
.attachment_message.activated {
  color: #D97706;
}
.boxUserWraper.oneUser {
  width: 33%;
}

.boxUserWraper.twoUser {
  width: 42%;
}

.noUsers .tagsWraper {
  margin-bottom: 0;
}


.indBoxContent.addNew {
  min-height: 32px;
    text-align: center;
    padding: 0px;
}

.indBoxContent.addNew button {
  border: none;
  background: none;
  padding: 8px;
  width: 100%;
  text-align: center;
}

.indBoxContent.addNew button:hover {
  background: rgb(248 251 255 / 85%);
}





.arc {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  border: 2px solid;
}

.arc_start {
  border-color: transparent #2563EB #2563EB #2563EB;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}

.arc_end {
  border-color: #2563EB #2563EB #2563EB transparent;
  -webkit-transform: rotate(42deg);
  -moz-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  transform: rotate(42deg);
}


.headerUserInfoWraper .arc {
  top: -3px;
  left: 0px;
  width: 38px;
  height: 38px;
}