@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

:before,
:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #7A8699;
    font-weight: 400;
}

/* Lists==================== */
ol,
ul {
    list-style: none;
}

/* Links, inputs and Buttons==================== */
a {
    color: inherit;
    display: inline-flex;
    align-items: center;
}

a,
.btn,
.button,
button,
input[type="button"],
input[type="button"],
input[type="submit"],
input[type="submit"],
select {
    outline: none;
    -webkit-transition: all cubic-bezier(1, -0.05, 0.25, 1) 0.4s;
    -o-transition: all cubic-bezier(1, -0.05, 0.25, 1) 0.4s;
    transition: all cubic-bezier(1, -0.05, 0.25, 1) 0.4s;
    cursor: pointer;
}

input,
textarea,
select {
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
    -webkit-appearance: none;
}

input::-ms-clear,
input:-ms-clear {
    display: none;
}

textarea {
    resize: none;
}

:disabled,
::disabled {
    cursor: not-allowed;
}

:readonly,
::readonly {
    cursor: default;
}

::-webkit-input-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

::-moz-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

:-ms-input-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

::-ms-input-placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

::placeholder {
    font-size: inherit;
    color: #bbb9d1;
}

/* Tables==================== */
.table,
table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    vertical-align: middle;
}

/* Headings==================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

br,
.clear {
    clear: both;
}

.d-flex {
  display: flex;
}

.dashboardBody {
  height: 100%;
  overflow: hidden;
  background :#F7F8FA;
}

.leftSidebar {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 25px;
  border-right: 1px solid #d3dae3;
}

.sidebarHeader {
  padding: 30px 32px;
  border-bottom: 1px solid #d3dae3;
  display: flex;
  align-items: center;
}

.sidebarHeader h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2633;
}

.dashboardCollapse {
  margin-left: 112px;
  cursor: pointer;
}

.sidebarContentWraper {
  padding: 32px;
}
.userInfo {
  align-items: center;
  border-bottom: 1px solid #d3dae3;
  padding-bottom: 32px;
}
.userinfoImg {
  margin-right: 22px;
  position: relative;
}
.userInfoControls {
  margin-left: auto;
  cursor: pointer;
}

.userinfoDetails h5 {
  color: #1F2633;
  font-size: 12px;
  font-weight: 700;
}

.userinfoDetails p {
  font-size: 11px;
  font-weight: 700;
  margin-top: 3px;
}

.activated .activetedImg {
  display: block;
}
.activetedImg {
  position: absolute;
  left: -4px;
  top: -4px;
}















.contentRight {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% - 302px);
  max-width: calc(100% - 302px);
  height: 100%;
  position: relative;
}
